[Unit]
Description=Run Rclone Sync Periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=2hr
Persistent=true
Unit=rclone-sync.service

[Install]
WantedBy=timers.target
