[Unit]
Description=Run Restic Backup Periodically

[Timer]
OnStartupSec=2min
OnUnitActiveSec=2hr
Persistent=true
Unit=restic-backup.service

[Install]
WantedBy=timers.target
